@import '../../styles/mixins';

.button {
  @include flexCenter;
  width: 3rem;
  height: 3rem;
  border-radius: var(--sm-radius);
  border: 0.2rem solid var(--black);
  transition: transform 0.2s;
  position: relative;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.95);
  }

  &_active {
    border: 0.2rem solid var(--white);
  }
}

@media screen and (min-width: 850px) {
  .button {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (min-width: 1500px) {
  .button {
    width: 5rem;
    height: 5rem;
  }
}