@import "../../styles/mixins";

.container {
  width: 95vw;
  max-width: 30rem;
}

.buttons {
  display: flex;
}

.button {
  width: 100%;
  padding: 1.5em;
  border-radius: var(--sm-radius) var(--sm-radius) 0 0;
  background: var(--body-color);

  &.selected {
    background: var(--light-grey);
  }
}

.content {
  background: var(--light-grey);
  padding: 1.5em;
  border-radius: 0 0 var(--sm-radius) var(--sm-radius);
}

@media screen and (min-width: 850px) {
  .container {
    max-width: 50rem;
  }

  .button:hover {
    background: var(--main-color-light);

    &.selected {
      background: var(--light-grey);
      cursor: default;
    }
  }

  .content {
    padding: 2em;
  }
}