@import '../../../styles/mixins';

.button {
  @include flexCenter;
  position: relative;
  padding: 0.1em;
  opacity: 0.7;
  border-radius: var(--sm-radius);
  background: var(--main-color-light);
  transition: transform 0.2s;
  width: 3em;
  height: 3em;

  &_label {
    position: absolute;
    transform: translateY(2.5em);
    color: var(--text-color);
  }

  &:active {
    transform: scale(0.95);
  }
}

@media screen and (min-width: 850px) {
  .button {
    padding: 0.2em;
    background: transparent;

    &_label {
      opacity: 0;
      transform: translateY(1.5em);
      transition-delay: opacity 0.1s;
      transition: transform 0.3s, opacity 0.2s;
    }

    &:hover {
      background: var(--main-color-light);
      opacity: 1;

      & .button_label {
        opacity: 1;
        transform: translateY(2.5em);
      }
    }
  }
}