@import '../../styles/mixins';

.container {
  padding: 1rem 0 4rem;
}

.header {
  @include flexCenter;
  flex-direction: column;
  margin: 0 0 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 0 1rem;
}

.button {
  @include mainButton;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 850px) {
  .container {
    padding: 2rem 0 5rem;
  }

  .title {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    padding: 4rem 0 6rem;
  }
}