@import '../../styles/mixins';

.inputBox {
  @include flexCenter;
  width: 100%;
}

.list {
  max-height: 0;
  width: 100%;
  background: var(--md-opacity);
  border-radius: var(--sm-radius);
  overflow: hidden;
  transition-property: max-height, padding;
  transition-duration: .3s;

  &.opened {
    margin-bottom: 1rem;
    max-height: 15rem;
    padding: 1rem;
  }
}