@import "../../../styles/mixins";

.header {
  @include flexCenter;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 0;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}

.subtitle {
  text-align: center;
  font-size: 1.3em;
  padding: 0 3rem;
  font-weight: 300;
}

.container {
  @include flexCenter;
  flex-direction: column;
  padding-bottom: 10rem;
}

@media screen and (min-width: 850px) {
  .header {
    padding: 2rem 0 3rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 200;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .container {
    padding-bottom: 10rem;
  }
}

@media screen and (min-width: 1500px) {
  .header {
    padding: 5rem 0 10rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .container {
    padding-bottom: 20rem;
  }
}