@import "../../styles/mixins";

.fetch {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  width: 100%;
  height: 6rem;
}

.list {
  max-height: 60vh;
  padding-right: 1rem;
  overflow-y: auto;
}

@media screen and (min-width: 850px) {
  .fetch {
    padding: 0;
  }

  .list {
    background: var(--body-color);
    max-height: 50vh;
  }
}