@import '../../styles/mixins';

.switch {
  position: relative;
  display: inline-block;
  height: 2.55rem;
  width: 4.5rem;
}

.input {
  display: none;
}

.slider {
  @include posAbsolute(0, 0, 0, 0);
  background: var(--light-grey);
  transition: .4s;

  &:before {
    content: "";
    @include posAbsolute(auto, auto, 0.3rem, 0.3rem);
    background: var(--white);
    height: 1.95rem;
    width: 1.95rem;
    transition: .4s;
  }
}

.input:checked + .slider {
  background: var(--green);
}

.input:checked + .slider:before {
  transform: translateX(1.95rem);
}

.slider {
  border-radius: 2.55rem;

  &:before {
    border-radius: 50%;
  }
}