@import '../../styles/mixins';

.wrapper {
  @include flexCenter;
  @include posFixed(0, auto, auto, var(--navbar-width));
  width: calc(100vw - var(--navbar-width));
  height: 100vh;
  transition: 0.3s;
  @include opacityApparition;
}

.behind {
  @include posFixed(0, auto, auto, var(--navbar-width));
  width: calc(100vw - var(--navbar-width));
  height: 100vh;
  background: var(--lg-opacity);
}

.container {
  position: relative;
}