@import '../../styles/mixins';

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 22rem;
  gap: 1rem
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  gap: 0.5rem;
  padding: 1em 2em;
  background: var(--body-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--md-radius);
  font-size: 0.8rem;
}

.data {
  font-size: 1.2rem;
}

@media screen and (min-width: 850px) {
  .list {
    flex-direction: row;
    gap: 2rem;
    max-width: none;
  }

  .card {
    width: 15rem;
    padding: 2em 3em;
    font-size: 1rem;
    gap: 1.2rem;
  }

  .data {
    font-size: 1.4rem;
  }

  .no_game {
    font-size: 1.2rem;
  }
}