@import '../../../styles/mixins';
@include commonInput;

.field {
  @include flexCenter;
  flex-direction: column;
}

.input {
  padding: 0.9rem 1.6rem;
  min-width: 100%;
  max-width: 90vw;
  min-height: 10rem;
  max-height: 50vh;
  font-family: inherit;
  outline: none;
}

@media screen and (min-width: 850px) {
  .input {
    min-width: 40rem;
    min-height: 20rem;
    max-width: 60vw;
  }
}