@import "../../../styles/mixins";

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-radius: var(--sm-radius);
  cursor: default;
}

.description {
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  @include underlineButton;
  margin-left: 0.5em;
}

@media screen and (min-width: 850px) {
  .card {
    &:hover {
      background: var(--sm-opacity);
    }
  }

  .description {
    max-width: 20rem;
  }
}