@import "../../../styles/mixins";

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 0.1rem solid var(--black);
  cursor: pointer;
}

.buttons {
  @include flexCenter;
}

.message {
  @include flexCenter;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;

  &.opened {
    max-height: 100rem;
  }
}

.text {
  text-align: center;
}

.area {
  margin-top: 2rem;
}

.button {
  @include mainButton;
}

@media screen and (min-width: 850px) {
  .card {
    border-radius: var(--sm-radius);
    border: none;

    &:hover {
      background: var(--sm-opacity);
    }
  }
}