@import "../../../styles/mixins";

.form {
  @include flexCenter;
  flex-direction: column;
  min-width: 22rem;
  gap: 1rem;
}

.button {
  @include mainButton;
  margin-top: 2rem;
}

@media screen and (min-width: 850px) {
  .form {
    min-width: 25rem;
  }
}