@import "../../styles/mixins";

.mobile_hidden {
  display: none;
}

.container {
  @include posFixed(0, auto, auto, 0);
  height: calc(100vh - var(--navbar-height));
  width: 100vw;
  background: var(--main-color-light);
  transform: translateY(100vh);
  transition: transform .3s;
  overflow: auto;
  z-index: 2;

  &_opened {
    @include posFixed(0, auto, auto, 0);
    transform: translateY(0);
  }
}

.title {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--white);
  height: 5rem;
}

.params {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
  height: calc(100vh - var(--navbar-height) - 5rem);
}

@media screen and (min-width: 850px) {
  .desktop_hidden {
    display: none;
  }

  .mobile_hidden {
    display: block;
  }

  .button {
    @include posFixed(1rem, 1rem, auto, auto);
    height: 4rem;
    width: 4rem;
    background: var(--main-color);
    border-radius: 50%;
    border: 0.2rem solid var(--body-color);
    opacity: 0.9;
    transition: transform .2s;
    z-index: 2;

    &:hover {
      opacity: 1;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .container {
    @include posFixed(0, 0, auto, auto);
    height: 100vh;
    width: 25rem;
    transform: translateX(100%);

    &_opened {
      transform: translateX(0);
    }
  }

  .title {
    padding: 2rem 0 0 2rem;
    font-size: 1.5rem;
  }

  .params {
    padding-top: 10rem;
    height: calc(100vh - 10rem);
  }
}

@media screen and (min-width: 1500px) {
  .button {
    @include posFixed(2rem, 2rem, auto, auto);
    height: 5rem;
    width: 5rem;
  }

  .container {
    width: 35rem;
  }

  .title {
    padding: 4rem 0 0 4rem;
    font-size: 2em;
  }
}