@import '../../styles/mixins';
@include commonInput;

.input {
  padding: 0.9rem 1.6rem;
  width: clamp(20rem, 100%, 80rem);
  height: clamp(10rem, 100%, 50vh);
  font-family: inherit;
  outline: none;
}