@import "../../styles/mixins";

.form {
  @include flexCenter;
  flex-direction: column;
  width: 22rem;
  margin: 2rem 0;
  gap: 1rem;
}

.button {
  @include mainButton;
  margin-top: 2rem;
}

@media screen and (min-width: 850px) {
  .form {
    width: 25rem;
  }
}