@import "../../styles/mixins";

.container {
  @include flexCenter;
  flex-direction: column;
}

.title {
  margin: 0 1rem;
  color: var(--white);
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  max-width: 80%;
}

.button {
  width: 5rem;
  height: 5rem;
  border-radius: var(--sm-radius);
  border: 0.2rem solid var(--black);

  &_active {
    border: 0.2rem solid var(--white);
  }
}

.picker {
  width: 5rem;
  height: 5rem;
  border-radius: var(--sm-radius);
}

.purple {
  background: hsl(var(--purple-hue), 69%, 61%);
}

.blue {
  background: hsl(var(--blue-hue), 69%, 61%);
}

.pink {
  background: hsl(var(--pink-hue), 69%, 61%);
}

.red {
  background: hsl(var(--red-hue), 69%, 61%);
}

.orange {
  background: hsl(var(--orange-hue), 69%, 61%);
}

@media screen and (min-width: 850px) {
  .list {
    gap: 1.5rem;
  }
}