@import '../../../styles/mixins';

.input {
  @include posFixed(auto, auto, 5rem, auto);
  @include flexCenter;
  width: 100vw;
  padding: 1.5em 1em 0.5em;
  background: var(--body-color);
}

.guess {
  @include posFixed(auto, auto, 30vh, 50%);
  padding: 1em 2em;
  border-radius: var(--sm-radius);
  font-weight: 300;
  max-width: 50vw;
  box-shadow: var(--box-shadow);

  &_good {
    color: var(--valid);
    background: var(--valid-bg);
    border: 0.1rem solid var(--valid-border);
    animation: from-bottom 0.5s ease-out forwards;
  }

  &_wrong {
    color: var(--warning);
    background: var(--warning-bg);
    border: 0.1rem solid var(--warning-border);
    animation: shaking 0.5s ease-out forwards;
  }
}

@media screen and (min-width: 850px) {
  .input {
    background: var(--md-opacity);
    bottom: 0;
    padding: 3em 30vw 2em;
  }

  .guess {
    @include posFixed(auto, auto, 15vh, 50%);
    font-size: 2rem;

    &_good {
      border: 0.2rem solid var(--valid-border);
    }

    &_wrong {
      border: 0.2rem solid var(--warning-border);
    }
  }
}

@media screen and (min-width: 1500px) {
  .input {
    padding: 3em 35vw 2em;
  }
}

@keyframes from-bottom {
  0% {
    opacity: 0;
    transform: translate(-50%, 3rem) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}

@keyframes shaking {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  10% { transform: translateX(calc(-50% + 0.5rem)); }
  20% {
    transform: translateX(calc(-50% - 0.5rem));
    opacity: 1;
  }
  30% { transform: translateX(calc(-50% + 0.5rem)); }
  40% { transform: translateX(calc(-50% - 0.5rem)); }
  50% { transform: translateX(calc(-50% + 0.5rem)); }
  60% { transform: translateX(calc(-50% - 0.5rem)); }
  70% { transform: translateX(calc(-50% + 0.5rem)); }
  80% { transform: translateX(calc(-50% - 0.5rem)); }
  90% { transform: translateX(calc(-50% + 0.5rem)); }
  100% { transform: translateX(-50%); }
}