@import "../../../styles/mixins";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 95vw;
  max-width: 40rem;
  background: var(--body-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--sm-radius);
  padding: 1rem;

  &.no_visible {
    border: 0.2rem solid var(--warning);
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.warning {
  text-align: center;
  font-size: 0.7rem;
  line-height: 100%;

  &_text {
    margin-top: 0.5rem;
    color: var(--warning);
  }
}

.hidden {
  text-align: center;
  font-size: 0.7rem;
  line-height: 100%;

  &_text {
    margin-top: 0.5rem;
    color: var(--warning);
  }
}

.footer {
  display: flex;
  gap: 2rem;
}

@media screen and (min-width: 850px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  .header {
    text-align: left;
    gap: 0.5rem;
  }

  .description {
    max-width: 24rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .warning {
    position: absolute;
    @include flexCenter;
    height: 4rem;
    width: 4rem;
    right: -5rem;
    border-radius: var(--sm-radius);
    font-size: 1.5rem;
    cursor: help;

    &_text {
      display: none;
    }

    &:hover {
      background: var(--md-opacity);
    }
  }

  .hidden {
    position: absolute;
    @include flexCenter;
    height: 4rem;
    width: 4rem;
    right: -10rem;
    border-radius: var(--sm-radius);
    font-size: 1.5rem;
    cursor: help;

    &_text {
      display: none;
    }

    &:hover {
      background: var(--md-opacity);
    }
  }

  .footer {
    gap: 1rem;
  }
}