@import "../../../styles/mixins";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 90vw;
  max-width: 40rem;
  background: var(--body-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--sm-radius);
  padding: 1rem;

  &.no_visible {
    border: 0.2rem solid var(--warning);
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.warnings {
  text-align: center;
}

.warning {
  text-align: center;
  font-size: 0.7rem;
  line-height: 100%;

  &_text {
    margin-top: 0.5rem;
    color: var(--warning);
  }
}

.footer {
  display: flex;
  gap: 2rem;
}

@media screen and (min-width: 850px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  .header {
    text-align: left;
    gap: 0.5rem;
  }

  .warnings {
    position: absolute;
    left: calc(100% + 1rem);
    @include flexCenter;
    gap: 0.5rem;
  }

  .warning {
    @include flexCenter;
    width: 4rem;
    height: 4rem;
    border-radius: var(--sm-radius);
    font-size: 1.5rem;
    cursor: help;

      &:hover {
        background: var(--md-opacity);
      }

    &_text {
      display: none;
    }
  }

  .footer {
    gap: 1rem;
  }
}