@import "../../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--body-color);
  border-radius: var(--md-radius);
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
}

.desktop {
  display: none;
}

@media screen and (min-width: 850px) {
  .mobile {
    display: none;
  }

  .container {
    margin-top: 2rem;
    padding-top: 1rem;
    max-width: 80rem;
    padding-bottom: 1rem;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
}