@import "../../../styles/mixins";

.nav {
  @include flexCenter;
  width: 100vw;
  background-color: var(--main-color-alt);
}

.list {
  max-width: 60rem;
  display: flex;
  align-items: center;
  color: var(--white);
  height: 5rem;
}

.link {
  position: relative;
  @include flexCenter;
  height: 5rem;
  width: 100%;
  padding: 0 2rem;
  font-weight: 300;
  gap: 0.7rem;

  &.active::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    width: 80%;
    height: 0.2rem;
    background: var(--white);
  }
}

@media screen and (min-width: 850px) {
  .list {
    height: 8rem;
  }

  .link {
    padding: 0 4rem;
    font-size: 1.3em;
    height: 8rem;

    &:hover {
      background: var(--md-opacity);
    }

    &.active:before {
      bottom: 1.5rem;
    }
  }
}