@import "../../../styles/mixins";

.form {
  @include flexCenter;
  flex-direction: column;
  width: 22rem;
  max-width: 90vw;
  margin: 2rem 0;
  gap: 2rem;
}

.button {
  @include mainButton;
  margin-top: 2rem;
}

@media screen and (min-width: 850px) {
  .form {
    width: 30rem;
    max-width: 50vw;
  }
}