@import "../../../styles/mixins";
@include trackCard;

.artist {
  color: var(--text-color-alt);
}

.warning {
  background: rgba(255, 0, 0, 0.2);

  &:hover {
    background: rgba(255, 0, 0, 0.5);
  }
}