@import '../../styles/mixins';

.container {
  @include flexCenter;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 80vw;
  max-width: 30rem;
}

.new {
  @include flexCenter;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(10%, 10%);
  height: 1.5rem;
  width: 1.5rem;
  background: var(--red);
  color: var(--white);
  border-radius: 50%;
  border: 0.1rem solid var(--white);
  font-size: 1rem;
  padding: 0.8em;
}

.list {
  background-color: var(--body-color);
  padding-right: 1rem;
  width: 100%;
  margin: 1rem 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;

  &.opened {
    overflow-y: auto;
    max-height: 60rem;
  }
}