@import "../styles/mixins";

.link {
  @include mainButton;
  @include posCenter;
  display: flex;
  align-items: center;
  gap: 1em;
}

@media screen and (min-width: 850px) {

  .link {
    font-size: 1.2rem;
  }
}