@import './mixins';

.header {
  @include flexCenter;
  padding-top: 10rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 200;
}

@media screen and (min-width: 850px) {
  .header {
    padding-top: 10rem;
  }

  .title {
    font-size: 4rem;
  }
}