@import '../styles/mixins';

.toggle_button {
  @include underlineButton;
  margin: 2rem 0;
}

.container {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;

  &.opened {
    max-height: 70rem;
    animation: show-overflow 0.3s linear forwards;
  }
}

@keyframes show-overflow {
  100% {
    overflow: visible;
  }
}