@import '../styles/mixins';

.pseudo {
  transform: translateY(-2rem);
}

.toggle_button {
  @include underlineButton;
  margin: 2rem 0;
}

.container {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;

  &.opened {
    max-height: 70rem;
    animation: show-overflow 0.3s linear forwards;
  }
}

.link {
  @include secondaryButton;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

@keyframes show-overflow {
  100% {
    overflow: visible;
  }
}

@media screen and (min-width: 850px) {
  .pseudo {
    transform: translateY(-1rem);
  }
}

@media screen and (min-width: 1500px) {
  .pseudo {
    transform: translateY(-3rem);
  }
}