@import "../../styles/mixins";

.warning {
  @include flexCenter;
  color: var(--warning);
  height: 6rem;
  text-align: center;
  padding: 0 1rem;
}

.filter {
  padding: 0 1rem;
}

.list {
  max-height: 60vh;
  overflow-y: auto;
}

@media screen and (min-width: 850px) {
  .list {
    background: var(--body-color);
    max-height: 50vh;
  }

  .filter {
    padding: 0;
  }
}