@import "../../styles/mixins";

.warning {
  @include flexCenter;
  color: var(--warning);
  text-align: center;
  margin-bottom: 3rem;
}

.filter {
  padding: 0 1rem;
}

.list {
  max-height: 60vh;
  padding-right: 1rem;
  overflow-y: auto;
}

@media screen and (min-width: 850px) {
  .list {
    background: var(--body-color);
    max-height: 50vh;
  }

  .filter {
    padding: 0;
  }
}