@import "../../../styles/mixins";

.container {
  @include flexCenter;
  flex-direction: column;
}

.title {
  color: var(--white);
  font-weight: 300;
  font-size: 1.1rem;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  max-width: 80%;
}

.purple {
  background: hsl(var(--purple-hue), 69%, 61%);
}

.blue {
  background: hsl(var(--blue-hue), 69%, 61%);
}

.pink {
  background: hsl(var(--pink-hue), 69%, 61%);
}

.red {
  background: hsl(var(--red-hue), 69%, 61%);
}

.orange {
  background: hsl(var(--orange-hue), 69%, 61%);
}

@media screen and (min-width: 850px) {
  .title {
    font-size: 1.4rem;
    padding: 0.5rem;
  }

  .list {
    padding: 2rem;
    gap: 1.5rem;
  }
}